<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <div class="container">
       <h1 class="col-md-12">Login Usuario</h1>
       <br />
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresar password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
             <div class="form-group">
               <span style="color:red">[[error]]</span>
             </div>
           </div>
        </div>
     </div>

     <iron-ajax
       id="doLogin"
       url="http://localhost:3000/proyecto/v1/login"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">
 </template>

 <script>
   var x;
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, error: {
           type: String
         }
       };
     }

     login(e) {
       if(this.email==undefined || this.password==undefined){
         this.error = "Email y password son requeridos";
         return;
       }

       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       if(data.detail.response.msn!=undefined){
         this.error = data.detail.response.msn;
       }else if (data.detail.response.codigo_cliente!=undefined) {
         console.log('Usuario correcto!');
         this.error = null;
         window.location.href = "/src/menu.html?codigo_cliente="+data.detail.response.codigo_cliente;
       }
     }

     showError(error) {
       this.error = "Hubo un error inesperado";
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
