<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .decimales:after {
       content: '.'attr(data-decimal);
      }
    </style>

   <div class="card">
     <div class="circle">1</div>
     <h1>Cuentas</h1>&nbsp;<a href="#" on-click="refresh">Refresh</a>
     <table class="table table-striped" style="border-spacing: 10px 5px;">
       <thead>
         <tr>
           <th scope="col">Número Cuenta</th>
           <th scope="col">Saldo</th>
           <th scope="col">Detalle</th>
         </tr>
       </thead>
       <tbody>
         <template is="dom-repeat" items="{{accounts}}">
           <tr>
             <td align="center">{{item.id_account}}</td>
             <td align="right" class="decimales" data-decimal="00"> {{item.amount}}</td>
             <td align="center"><a href="#" on-click="mostrarMovimientos">Ver</a></td>
           </tr>
         </template>
       </tbody>
     </table>

     <br>
     <br>

     <h1 >Movimientos</h1>
     <table class="table table-striped" style="border-spacing: 10px 5px;">
       <thead>
         <tr>
           <th scope="col">Fecha</th>
           <th scope="col">Importe</th>
           <th scope="col">Divisa</th>
         </tr>
       </thead>
       <tbody>
         <template is="dom-repeat" items="{{movimientos}}">
           <tr>
             <td align="center">{{item.date}}</td>
             <td align="right" class="decimales" data-decimal="00" >{{item.amount}}</td>
             <td align="right">{{item.divisa}}</td>
           </tr>
         </template>
       </tbody>
     </table>
    </div>

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/proyecto/v1/accounts/{{codigo_cliente}}"
      handle-as="json"
      on-response="showData">
    <iron-ajax
        id="getMovimientos"
        url="http://localhost:3000/proyecto/v1/movimientos/{{id_account}}"
        handle-as="json"
        on-response="showData2">
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          codigo_cliente : {
            type: String,
            value: g_codigo_cliente
          },id_account : {
            type: String
          }, accounts: {
            type: Array
          }, movimientos: {
            type: Array
          }
        };
      }

      showData(data) {
        this.accounts = data.detail.response;
      }

      mostrarMovimientos(e) {
        this.id_account = e.model.item.id_account;
        this.$.getMovimientos.generateRequest();
      }

      showData2(data) {
        this.movimientos = data.detail.response;
      }

      showError(error) {
        this.error = "Hubo un error inesperado";
      }

      refresh(e) {
        this.$.getAccounts.generateRequest();
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
