<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>Operaciones</h1>

      <div class="form-group">
        <label for="exampleInputPassword1">Cuenta</label>
        <select value="{{id_account::change}}" >
          <option value="">seleccione</option>
          <template is="dom-repeat" items="{{accounts}}">
            <option value="{{item.id_account}}">{{item.id_account}}</option>
          </template>
        </select>
      </div>
      <div class="form-group">
        <label for="importe">Importe</label>
        <input type="number" class="form-control" id="importe" placeholder="Ingresar importe" value="{{amount::input}}">
      </div>
      <br><br>
      <button  class="btn btn-primary" on-click="retirar">Retirar</button>&nbsp;&nbsp;
      <button  class="btn btn-primary" on-click="abonar">Abonar</button>
      <div class="form-group">
        <span style="color:red">[[error]]</span>
      </div>
    </div>

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/proyecto/v1/accounts/{{codigo_cliente}}"
      handle-as="json"
      on-response="showData">
    <iron-ajax
        id="doProcesar"
        url="http://localhost:3000/proyecto/v1/accounts/{{id_account}}"
        content-type="application/json"
        method="PUT"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          codigo_cliente : {
            type: String,
            value: g_codigo_cliente
          },
          amount : {
            type: Number
          },
          id_account : {
            type: String
          },
          accounts: {
            type: Array
          },
          signo : {
            type: Number,
            value: 1
          },
          error : {
            type: String,
            value: null
          },
        };
      }

      abonar(e){
        this.procesar();
      }
      retirar(e){
        this.signo = -1;
        this.procesar();
      }

      procesar() {
        if(this.id_account==undefined || this.amount==undefined){
          alert("Cuenta e importe son requeridos");
          return;
        }

        var procesarData = {
          "amount" : this.amount*this.signo
        };
        this.$.doProcesar.body = JSON.stringify(procesarData);
        this.$.doProcesar.generateRequest();
      }

      showData(data) {
        this.accounts = data.detail.response;
      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");
        if(data.detail.response.msn!=undefined){
          this.signo = 1;
          this.amount = null;
          this.id_account = null;
          alert(data.detail.response.msn);
        }
      }

      showError(error) {
        alert("Hubo un error inesperado");
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
