<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">3</div>
      <h1>Datos de Cliente</h1>

      <div class="form-group">
        <span >Nombre: [[first_name]]</span>
      </div>
      <div class="form-group">
        <span >Apellido: [[last_name]]</span>
      </div>
      <div class="form-group">
        <span >Documento: [[type_document]] [[document]]</span>
      </div>
    </div>

    <iron-ajax auto
      id="getCliente"
      url="http://localhost:3000/proyecto/v1/clients/{{codigo_cliente}}"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
          codigo_cliente : {
            type: String,
            value: g_codigo_cliente
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, type_document: {
            type: String
          }, document: {
            type: String
          }
        };
      }

      showData(data) {
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.type_document = data.detail.response.type_document;
        this.document = data.detail.response.document;
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
