<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="shared-styles.html">

<dom-module id="my-view4">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">4</div>
      <h1>Tipo de cambio del día</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Importe</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{cambios}}">
            <tr>
              <td align="center">{{item.from}}</td>
              <td align="center">{{item.to}}</td>
              <td align="right" >{{item.value}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <iron-ajax auto
      id="getTipoCambio"
      url="http://localhost:3000/proyecto/v1/tipoCambio"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }
      static get properties() {
        return {
          codigo_cliente : {
            type: String,
            value: g_codigo_cliente
          }, cambios: {
            type: Array
          }
        };
      }

      showData(data) {
        this.cambios = data.detail.response;
      }
    }

    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
